<!DOCTYPE html>
<html>
<head>
    <title>Mobile Price Predictor</title>
</head>
<body>

<h2>📱 Mobile Price Predictor</h2>

<form action="/predict" method="post">

    Brand:
    <select name="brand">
        <option>Samsung</option>
        <option>Apple</option>
        <option>Xiaomi</option>
        <option>Realme</option>
        <option>OnePlus</option>
    </select>
    <br><br>

    RAM: <input type="number" name="ram"><br><br>
    Battery: <input type="number" name="battery"><br><br>
    Memory: <input type="number" name="memory"><br><br>
    Camera: <input type="number" name="camera"><br><br>
    Weight: <input type="number" name="weight"><br><br>

    <button type="submit">Predict</button>

</form>

<h3>{{ prediction_text }}</h3>

</body>
</html>
